
<div class="modal-header">
	<h3 class="modal-title">Im a modal dialog! </h3>
</div>

<form name="myForm" novalidate>
	<div class="modal-body">
	
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

		<div ng-show="myForm.firstName.$invalid && myForm.firstName.$touched" class="alert alert-danger" role="alert">
			The value must be in range 3 to 20 only of non-whitespaces!
		</div>
		<div ng-show="myForm.userEmail.$invalid && myForm.userEmail.$touched" class="alert alert-info" role="alert"> 
			This is not a valid email.
		</div>
		<div ng-show="myForm.note.$invalid && myForm.note.$touched" class="alert alert-warning" role="alert">
			The value must be in range 10 to 500!
		</div>
		<div ng-show="myForm.uItem.$error.required && myForm.uItem.$dirty" class="alert alert-success" role="alert">
			Select person from dropdown list.
		</div>
		<div ng-show="myForm.uDate.$invalid && myForm.uDate.$touched" class="alert alert-success" role="alert">
			Calendar date should be valid.
		</div>
		<div ng-show="myForm.uDate1.$invalid && myForm.uDate1.$touched" class="alert alert-success" role="alert">
			Calendar1 date should be valid.
		</div>

		<div ng-messages="myForm.colorCode.$error" ng-if="myForm.colorCode.$touched">
			<div ng-message="required" class="alert alert-danger" role="alert"> Enter color code is mandatory. </div>
			<div ng-message="minlength" class="alert alert-warning" role="alert"> Minimum color code length must be 4! </div>
			<div ng-message="maxlength" class="alert alert-warning" role="alert"> Maximum color code length must be 7! </div>
			<div ng-message="pattern" class="alert alert-info" role="alert"> Color value must be Hex Color Codes, i.e. #e5e500 for yellow </div>
		</div>

		<div class="form-group">
			<ui-select uiselect-auto-focus="true" name="uItem" reset-search-input="true" ng-model="user.modal1.selected" on-remove="" on-select="" theme="select2" style="width: 200px;" required>
			<ui-select-match allow-clear="true" placeholder="Select a person..."> 
			<span> {{$select.selected.name}} </span>
		</ui-select-match>
		<ui-select-choices repeat="person.email as person in user.items | filter: {name: $select.search}">
		<div ng-bind-html="person.name | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>
</div>

<!-- 	<div class="modal-body">
		<p>Selected: {{modal1.selected}}</p>
		<div class="form-group">
			<ui-select reset-search-input="true" ng-model="modal1.selected" on-remove="" on-select="" theme="selectize" style="width: 200px;">
			<ui-select-match allow-clear="true" placeholder="Select a person..."> 
			<span> {{$select.selected.name}} </span>
			<button class="clear" ng-click="clear($event)">X</button>
		</ui-select-match>
		<ui-select-choices repeat="person.email as person in items | filter: {name: $select.search}">
		<div ng-bind-html="person.name | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>
</div> -->

<div class="form-group">
	<label>First Name</label>
	<input type="text" ng-model="user.fName" ng-pattern="/^\S*$/" ng-minlength="3" ng-maxlength="20" name="firstName" class="form-control" placeholder="Enter first name" required>
</div>

<div class="form-group">
	<label>Color Code</label>
	<input type="text" ng-model="user.uColor" ng-pattern="/^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$/" ng-minlength="4" ng-maxlength="7" name="colorCode" class="form-control" placeholder="Enter color code" required>
</div>

<div class="form-group">
	<label>Email address</label>
	<input type="email" ng-model="user.uEmail" name="userEmail" class="form-control" placeholder="Enter email" required>
</div>

<div class="form-group">
	<label>Note</label>
	<textarea ng-model="user.uNote" ng-minlength="10" ng-maxlength="500" name="note" class="form-control" rows="2" placeholder="Enter first name" required></textarea>
</div>

<div class="row">
	<div class="col-md-4">
		<label>Calendar</label>
		<p class="input-group">
			<input type="text" is-open="opened" name="uDate" class="form-control" show-button-bar="false" datepicker-popup="{{format}}" ng-model="user.dt" datepicker-options="dateOptions" close-text="Close" required/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)" ng-focus="opened = opened? false : false">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<label>Calendar-1</label>
		<p class="input-group">
			<input type="text" is-open="opened1" name="uDate1" class="form-control" show-button-bar="false" datepicker-popup="{{format}}" ng-model="user.dt1" datepicker-options="dateOptions" close-text="Close" style="clear: both;" required/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open1($event)" ng-focus="opened1 = opened1? false : false;">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
</div>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="etc()">
		Etc
	</button>
	<button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="myForm.$invalid">
		Ok
	</button>
	<button class="btn btn-warning" ng-click="cancel()">
		Cancel
	</button>
<!-- 	<button type="reset" class="btn btn-danger" ng-click="reset();" ng-disabled="myForm.$pristine">
		Reset
	</button> -->
</div>

</form>
